@import "tailwindcss";

@theme {
  --color-primary: #56be9c;
}





/* ---------------------------------CUSTOM SCROLL BAR--------------------------------- */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.027);
  border-radius: 4px;
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(199, 187, 187, 0.448);
  border-radius: 4px;
}

/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(128, 128, 128, 0.462);
}
